In [1]:
import numpy as np
import pandas as pd


dataset=pd.read_csv("Life_Expectancy_Data.csv")
dataset.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
dataset.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [3]:
dataset.isnull().sum()
dataset=dataset.interpolate(method="linear", limit_direction="forward")

In [4]:
newfeatures=['Adult Mortality','Life expectancy ',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling']

for variable in newfeatures:
    q75, q25 = np.percentile(dataset[variable], [75 ,25])
    iqr = q75 - q25
    min_val = q25 - (iqr*1.5)
    max_val = q75 + (iqr*1.5)
    print("Number of outliers and percentage of it in {} : {} and {}".format(variable,
                                                                             len((np.where((dataset[variable] > max_val) | (dataset[variable] < min_val))[0])),
                                                                             len((np.where((dataset[variable] > max_val) | (dataset[variable] < min_val))[0]))*100/1987))
    
#Removing outliers
from scipy.stats.mstats import winsorize

dataset['Life expectancy '] = winsorize(dataset['Life expectancy '],(0.01,0))
dataset['Adult Mortality']= winsorize(dataset['Adult Mortality'],(0,0.03))
dataset['infant deaths'] = winsorize(dataset['infant deaths'],(0,0.10))
dataset['Alcohol'] = winsorize(dataset['Alcohol'],(0,0.01))
dataset['percentage expenditure']= winsorize(dataset['percentage expenditure'],(0,0.12))
dataset['Hepatitis B']= winsorize(dataset['Hepatitis B'],(0.11,0))
dataset['Measles '] = winsorize(dataset['Measles '],(0,0.19))
dataset['under-five deaths ']= winsorize(dataset['under-five deaths '],(0,0.12))
dataset['Polio'] = winsorize(dataset['Polio'],(0.09,0))
dataset['Total expenditure'] = winsorize(dataset['Total expenditure'],(0,0.01))
dataset['Diphtheria ']= winsorize(dataset['Diphtheria '],(0.10,0))
dataset[' HIV/AIDS'] = winsorize(dataset[' HIV/AIDS'],(0,0.16))
dataset['GDP'] = winsorize(dataset['GDP'],(0,0.13))
dataset['Population'] = winsorize(dataset['Population'],(0,0.14))
dataset[' thinness  1-19 years']= winsorize(dataset[' thinness  1-19 years'],(0,0.04))
dataset[' thinness 5-9 years'] = winsorize(dataset[' thinness 5-9 years'],(0,0.04))
dataset['Income composition of resources'] = winsorize(dataset['Income composition of resources'],(0.05,0))
dataset['Schooling'] = winsorize(dataset['Schooling'],(0.02,0.01))

Number of outliers and percentage of it in Adult Mortality : 82 and 4.12682435832914
Number of outliers and percentage of it in Life expectancy  : 12 and 0.6039255158530448
Number of outliers and percentage of it in infant deaths : 315 and 15.853044791142425
Number of outliers and percentage of it in Alcohol : 1 and 0.050327126321087066
Number of outliers and percentage of it in percentage expenditure : 389 and 19.577252138902868
Number of outliers and percentage of it in Hepatitis B : 248 and 12.481127327629592
Number of outliers and percentage of it in Measles  : 542 and 27.27730246602919
Number of outliers and percentage of it in  BMI  : 0 and 0.0
Number of outliers and percentage of it in under-five deaths  : 394 and 19.828887770508302
Number of outliers and percentage of it in Polio : 282 and 14.192249622546553
Number of outliers and percentage of it in Total expenditure : 35 and 1.7614494212380474
Number of outliers and percentage of it in Diphtheria  : 301 and 15.148465022647207
Number of outliers and percentage of it in  HIV/AIDS : 542 and 27.27730246602919
Number of outliers and percentage of it in GDP : 348 and 17.5138399597383
Number of outliers and percentage of it in Population : 364 and 18.319073980875693
Number of outliers and percentage of it in  thinness  1-19 years : 89 and 4.479114242576749
Number of outliers and percentage of it in  thinness 5-9 years : 97 and 4.881731253145445
Number of outliers and percentage of it in Income composition of resources : 130 and 6.542526421741319
Number of outliers and percentage of it in Schooling : 53 and 2.6673376950176144

In [15]:
status=pd.get_dummies(dataset.Status)
dataset=pd.concat([dataset,status], axis=1)
dataset=dataset.drop(["Status"], axis=1)

dataset=dataset.drop(['Country'], axis=1)

#Scaling the data
y=dataset['Life expectancy ']
X=dataset.drop(["Life expectancy "], axis=1)

"""from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X=scaler.fit_transform(X)"""

#Splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)

AttributeError: 'DataFrame' object has no attribute 'Status'

In [17]:
import tensorflow as tf
model=tf.keras.models.Sequential([
                                  tf.keras.layers.Dense(21,activation=tf.nn.relu),
                                  tf.keras.layers.Dense(21, activation=tf.nn.relu),
                                  tf.keras.layers.Dense(1)])
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['accuracy'])
model.fit(X_train,y_train, epochs=5,validation_data=(X_test, y_test))

Epoch 1/5
WARNING:tensorflow:Layer dense_12 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

65/65 [==============================] - 0s 3ms/step - loss: 61250.3477 - accuracy: 0.0000e+00 - val_loss: 9202.2158 - val_accuracy: 0.0000e+00
Epoch 2/5
65/65 [==============================] - 0s 3ms/step - loss: 7189.3838 - accuracy: 0.0000e+00 - val_loss: 678.7908 - val_accuracy: 0.0000e+00
Epoch 3/5
65/65 [==============================] - 0s 3ms/step - loss: 5346.0840 - accuracy: 0.0000e+00 - val_loss: 5540.4053 - val_accuracy: 0.0000e+00
Epoch 4/5
65/65 [==============================] - 0s 3ms/step - loss: 3989.2778 - accuracy: 0.0000e+00 - val_loss: 862.6176 - val_accuracy: 0.0000e+00
Epoch 5/5
65/65 [==============================] - 0s 3ms/step - loss: 6026.4697 - accuracy: 0.0000e+00 - val_loss: 5128.0850 - val_accuracy: 0.0000e+00

In [16]:
print(X.shape)

(2938, 21)